<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="../Styles/style.css">
  </head>
  <body>
    <form action="../Views/result.html">
     <label for="name">Name:</label></br>
      <input type="text" id="name" name="name"></br>

      <label for="Phone Number">Phone Number:</label></br>
      <input type="number" id="phoneNumber" name="phoneNumber"></br>

      <label for="dob">Date of Birth:</label></br>
      <input type="date" id="dob" name="dob"></br>
      <label for="email">Email:</label></br>
      <input type="text" id="email" name="email"></br>
      <label for="Designation">Designation:</label></br>
      <input type="text" id="Designation" name="Designation"></br>
      <input type="submit" value="Submit"></br>
      
    </form>
  </body>
</html>